$maincolor : rgb(236, 229, 199);
$secondcolor: rgb(194, 222, 209);
$thirdcolor: rgb(53, 66, 89);
$fortcolor:rgb(219, 223, 253);
$textcolor : #354259;

*{
  scroll-behavior: smooth;
}
@mixin allthesame {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 15px;
  font-weight: bold;
  font-size: 35px;
  height: 50px;
  margin-left: 40px;
  margin-top: 40px;
  text-decoration: none;
  color: $textcolor;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
}


.top{
  display: flex;
  height: 200px;
  
}
.Home{
  @include allthesame();
  width: 105px;
  &:hover{
    text-decoration: underline;
  }
  
  
  
  
}
.about{
  @include allthesame();
  width: 140px;
  &:hover{
    text-decoration: underline;
  }

}
.projects{
  @include allthesame();
  width: 190px;
  &:hover{
    text-decoration: underline;
  }
}

html,
body {
  padding: 0px;
  margin: 0px;
  background-color: $maincolor;
}

.Elija{
  margin-top: 1%;
  display: flex;
  justify-content: center;
  color: $textcolor;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 140px;
}
.role{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  color: $textcolor;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  align-items: center;
}


.biggerbox{
  @include flexCenter();
  margin-top: 4%;
}
.cv{
  @include flexCenter();
  align-items: center;
  background-color: $secondcolor;
  border-radius: 15px;
  width: 240px;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: $textcolor;
  &:hover{
      background-color: $thirdcolor;
      color: white;
  } 
}



.icons{
  @include flexCenter();
  margin-top: 2.8%;
  height: 50px;
  width: 50px;
  color: $textcolor;
  margin-right: 50px;
  margin-left: 50px;
  
  
}
.fa-brands{
  @include flexCenter();
  margin-top: 2.8%;
  height: 80px;
  width: 77.5px;
  color: $textcolor;
  &:hover{
    color: black;
  }
  
  
  
}
.bigbox{
  @include flexCenter();
  margin-top: 1%;
  height: 100px;
  
}

.swiper-miper{
    @include flexCenter();
    margin: 50px;
    margin-top: 25px;
    margin-bottom: 0px;
    height: 500px;
}
.top-p{
    display: flex;
    height: 100px;
}
.bigbox-p{
    @include flexCenter();
    
    padding-left: 50px;
    padding-right: 50px;
}
.icons-p{
    @include flexCenter();
    margin-top: 2.5%;
    height: 50px;
    width: 50px;
    color: $textcolor;
    margin-right: 50px;
    margin-left: 50px;
    
  }

.txt-übermich{
    @include flexCenter();
    display: block;
    justify-content: center;
    align-items: center;
    color: $thirdcolor;
    height: 400px;
    width: 40%;
    margin-top: 5%;
    border-radius: 15px;
    text-align: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    line-height: 160%;
    
}
.überklasse{
    display: flex;
    justify-content: space-evenly;
    
}

.Bild-Elija{
  @include flexCenter();
    color: $thirdcolor;
    height: 40%;
    width: 40%;
    margin-top: 5%;
    align-items: center;
}
.bilderbild{
  border-radius: 50%;
}
.wavinghand{
  align-self: center;
  width: 40px;
  height: 40px;
  padding-left: 10px;
  padding-right: 15px;
}
h1{
  display: flex;
  align-items: center;
  font-size: 40px;
}
.f{
  color: $maincolor;
}
.icons-about{
  @include flexCenter();
  background-color: $thirdcolor;
  border-radius: 40px;
  width: 80px;
  height: 80px;
  align-items: center;
}
.übercontainer2{
  display: flex;
  justify-content: space-evenly;
  
  width: 730px;
  
  margin-left: 6.6%;
}
.übercontainer3{
  display: flex;
  justify-content: space-evenly;
  
  width: 730px;
 
  margin-left: 6.6%;
}

.texticons{
  @include flexCenter();
  width: 80px;
  height: 80px;
  color: $thirdcolor;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px;
}
.testh1{
  width: 300px;
}
.sectionone{
  background-color: #628884;
  width: 90%;
  height: 97%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  border-radius: 50px;
  padding-bottom: 4% ;
}
.sectiontwo{
  background-color: #B9C7AC;
  width: 90%;
  height: 97%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  border-radius: 50px;
  padding-bottom: 4% ;
}