@charset "UTF-8";
@font-face {
  font-family: 'Nurom';
  src: url(fonts/Nurom-Bold.ttf);
}

* {
  scroll-behavior: smooth;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
}

.Home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 15px;
  font-weight: bold;
  font-size: 35px;
  height: 50px;
  margin-left: 40px;
  margin-top: 40px;
  text-decoration: none;
  color: #354259;
  width: 105px;
}

.Home:hover {
  text-decoration: underline;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 15px;
  font-weight: bold;
  font-size: 35px;
  height: 50px;
  margin-left: 40px;
  margin-top: 40px;
  text-decoration: none;
  color: #354259;
  width: 140px;
}

.about:hover {
  text-decoration: underline;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 15px;
  font-weight: bold;
  font-size: 35px;
  height: 50px;
  margin-left: 40px;
  margin-top: 40px;
  text-decoration: none;
  color: #354259;
  width: 190px;
}

.projects:hover {
  text-decoration: underline;
}

html,
body {
  padding: 0px;
  margin: 0px;
  background-color: #ece5c7;
}

.Elija {
  margin-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #354259;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 140px;
}

.role {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #354259;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.biggerbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4%;
}

.cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c2ded1;
  border-radius: 15px;
  width: 240px;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #354259;
}

.cv:hover {
  background-color: #354259;
  color: white;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.8%;
  height: 50px;
  width: 50px;
  color: #354259;
  margin-right: 50px;
  margin-left: 50px;
}

.fa-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.8%;
  height: 80px;
  width: 77.5px;
  color: #354259;
}

.fa-brands:hover {
  color: black;
}

.bigbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1%;
  height: 100px;
}

.swiper-miper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px;
  margin-top: 25px;
  margin-bottom: 0px;
  height: 500px;
}

.top-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
}

.bigbox-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.icons-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.5%;
  height: 50px;
  width: 50px;
  color: #354259;
  margin-right: 50px;
  margin-left: 50px;
}

.txt-übermich {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #354259;
  height: 400px;
  width: 40%;
  margin-top: 5%;
  border-radius: 15px;
  text-align: block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  line-height: 160%;
}

.überklasse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Bild-Elija {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #354259;
  height: 40%;
  width: 40%;
  margin-top: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bilderbild {
  border-radius: 50%;
}

.wavinghand {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 40px;
  height: 40px;
  padding-left: 10px;
  padding-right: 15px;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
}

.f {
  color: #ece5c7;
}

.icons-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #354259;
  border-radius: 40px;
  width: 80px;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.übercontainer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 730px;
  margin-left: 6.6%;
}

.übercontainer3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 730px;
  margin-left: 6.6%;
}

.texticons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
  color: #354259;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px;
}

.testh1 {
  width: 300px;
}

.sectionone {
  background-color: #628884;
  width: 90%;
  height: 97%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  border-radius: 50px;
  padding-bottom: 5%;
}

.sectiontwo {
  background-color: #B9C7AC;
  width: 90%;
  height: 97%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  border-radius: 50px;
  padding-bottom: 4%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4A4737;
  margin-top: 5%;
  height: 120px;
}

.footerlinks {
  width: 50%;
  height: 100%;
}

.footericons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  background-color: #354259;
  border-radius: 15px;
}

.footericons2 {
  width: 40px;
  height: 40px;
}

.oben {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.unten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerrechts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'nurom';
  font-size: 40px;
  text-decoration: none;
}

.untern {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.links {
  margin-top: 8%;
  margin-bottom: 8%;
  background-color: #436870;
  border-radius: 30px;
  height: 550px;
  width: 25%;
  font-family: 'Nurom';
  font-weight: bold;
}

.linkstext {
  margin-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#ece5c7));
  background-image: linear-gradient(to right, #ece5c7);
  background-size: 40% 4px;
  background-repeat: no-repeat;
  line-height: 80px;
  background-position: bottom;
  font-size: 40px;
  color: #2F4858;
}

.rechts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 8%;
  padding-bottom: 3%;
}

.inputfield {
  background-color: #628884;
  border-radius: 5px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 26px;
  border: 0px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'nurom';
  color: #ece5c7;
}

.rechtsüberklasse {
  width: 50%;
  height: 100%;
}

.submitbutton {
  background-color: #EE9747;
  width: 150px;
  height: 26px;
  border: 0px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 20px;
  font-family: 'nurom';
  color: #ece5c7;
  padding-top: 4px;
}

::-webkit-input-placeholder {
  color: #ece5c7;
}

:-ms-input-placeholder {
  color: #ece5c7;
}

::-ms-input-placeholder {
  color: #ece5c7;
}

::placeholder {
  color: #ece5c7;
}

.inputfield {
  text-align: center;
  padding-top: 4px;
}

.footerrechts2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 325px;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'nurom';
  font-size: 40px;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ece5c7;
  background-color: #354259;
  border-radius: 15px;
  padding-top: 3px;
}

.iconcontact {
  height: 50px;
  width: 50px;
  margin-left: 5%;
}

.footermooter {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */